{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
$(function () {

    $('#graph').highcharts({
        chart: {
            zoomType: 'x'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: '{{ graph.units }}'
            }
        },
        legend: {
            enabled: false
        },
        series: [{
            data: [{% for point in graph.points %}
            [
                Date.parse('{{ point.date }}'),
                {{ point.value }}
            ],
            {% endfor %}]
        }]    
    })
})
</script>
{% endblock %}
{% block content %}


<div id="graph"></div>

{% endblock %}